/*This pattern is downloaded from www.subtlepatterns.com 
If you need more, that's where to get'em.*/

*
{
    margin: 0;
    padding: 0;
}

html{
    box-sizing:border-box;
    font-size:62.5%;
}

body
{
    background-image: url('/img/background.png');
    
}

.header 
{
display: flex;
flex-direction: column;
align-items: center;
}

.header__slogan
{
    color: rgb(20, 197, 153);
    font-size: 50px;
}

.main__description 
{
    text-align: center;
    font-size: 2.5rem;
    color: rgb(20, 197, 153);
}

.form 
{
    position: relative;
    left: 40%;
    width: 20%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10%;
    margin-top: 10px;
    padding: 30px 0;
    font-size: 2rem;
    color: rgb(20, 197, 153);
}

.form__name,
.form__email,
.form__password
{
    padding: 5px;
    display: block;
    margin-bottom: 10px;
}

.form__name:focus,
.form__email:focus,
.form__password:focus
{
    box-shadow: 0 0 10px 3px rgb(20, 197, 153);
    background-color: #ccf3f0;
}

.form__submit
{
    font-size: 1.8rem;
    padding: 10px;
    background-color:  rgb(20, 197, 153);
    color:#222;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.2 linear;
}

.form__submit:hover
{
    transform: scale(0.95);
}

.form__submit:focus
{
    box-shadow: 0 0 15px 5px rgb(20, 197, 153);
}

.footer
{
    margin-top: 50px;
}

.footer__author
{
    font-size: 2.5rem;
}

a
{
 text-decoration: none;
 color:#000;
}

i.fa-facebook-square, i.fa-envelope
{
 transition: all 0.2s linear;
}

i.fa-facebook-square:hover, i.fa-envelope:hover
{
 transform: scale(1.1);
}

.main__registration-text
{
    position: relative;
    left: 40%;
    width: 20%;
    height: 10%;
    background-image: url('/img/background.png');
    margin-top: 10px;
    color: #095f37;
    font-size: 2rem;
}

.main__list
{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.main__btn,
.main__btn:link,
.main__btn:visited
{
    width: 20rem;
    text-transform:uppercase;
    text-decoration:none;
    text-align: center;
    padding:1.5rem 4rem;
    margin: 1rem auto;
    display:block;
    border-radius:10rem;
    transition:.2s;
    cursor:pointer;
    font-size: 1.8rem;
    background-color: rgb(20, 197, 153);
}

.main__btn:hover
{
    transform: scale(0.95);
}